name: "Publish"

on:
  push:
    tags:
      - "v**.**.**" # Semantic Versioning like "v1.22.3"
      - "v**.**.**-**" # Prerelease Semantic Versioning like "v1.22.3-rc0004"

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Required for creating GitHub releases

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Required for git-cliff to access full git history

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.x

      - name: Generate version
        id: gen_version
        # because tags in GITHUB cannot be something like "1.22.3" we have to prepend a "v" for version tags
        # but because a "v" is prepended, we have to remove that again to be able to use the version tag as the version for packaging and pushing the NuGet-package
        # the "//v/" basically tells that every "v" is replaced by an empty string. c.f.: https://stackoverflow.com/a/67290085/8242470
        # using the approach to generate the version in another job for others to use works better than doing that in a global variable, c.f.: https://github.com/orgs/community/discussions/45488
        run: echo "VERSION=${GITHUB_REF_NAME//v/}" >> $GITHUB_OUTPUT

      - name: Generate Release Notes
        id: changelog
        uses: orhun/git-cliff-action@v4
        with:
          config: .github/cliff.toml
          args: --latest --strip header

      - name: Pack
        env:
          VERSION: ${{ steps.gen_version.outputs.VERSION }}
        run: dotnet pack ./src/FakeCosmosDb/FakeCosmosDb.csproj --configuration Release /p:Version=${{ env.VERSION }}

      - name: Push to Nuget.org
        env:
          VERSION: ${{ steps.gen_version.outputs.VERSION }}
        run: dotnet nuget push ./src/FakeCosmosDb/bin/Release/FakeCosmosDb.${{ env.VERSION }}.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }}

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          body: ${{ steps.changelog.outputs.content }}
          files: |
            ./src/FakeCosmosDb/bin/Release/FakeCosmosDb.${{ steps.gen_version.outputs.VERSION }}.nupkg
            ./src/FakeCosmosDb/bin/Release/FakeCosmosDb.${{ steps.gen_version.outputs.VERSION }}.snupkg
